.mainHead{
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact{
    /* margin-top: 8rem; */
    box-sizing: border-box;
    border: 2px solid gray;
    background-color: antiquewhite;
    border-radius: 2.5rem;
}
.mainContact{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
   
}
.button{
    background-color: rgb(163, 69, 59);
    color: aliceblue;
    font-weight: bold;
    width: 80px;
    height: 50px;
    
    border-radius:3rem;
}

/* #header .animated{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down{
    0% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(-15px);
    }
}
@keyframes up-down{
    0% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(-15px);
    }
} */