.about{
    height: 100vh;
    display: flex;
    align-items: center;
}
.about-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-right{
    flex: 1;
}
.about-card{
    width: 65%;
    height: 70vh;
   border-radius: 20px;
   
}
.about-image{
    height: 100%;
    width: 100%;
    object-fit: contain;
}